
@{
    ViewBag.Title = "View";
}

<h1> Política de privacidade</h1>

<p>
    Nós, da Webike, estamos comprometidos em resguardar sua privacidade. O intuito deste documento é esclarecer quais informações são coletadas dos usuários de nosso site e de que forma esses dados são manipulados e utilizados.
</p>
<p>
    Alertamos que se você não concorda com o conteúdo desta política, não é recomendável baixar nossos materiais nem utilizar quaisquer de nossos serviços.
</p>
<p>
    Sobre a coleta de dados
</p>
    Em nossos sites, as informações são coletadas das seguintes formas:

    Informações fornecidas por você – Coletamos informações de identificação pessoal – como nome, telefone, email, empresa em que trabalha e cargo – via preenchimento dos formulários para download de nossos conteúdos gratuitos. Eventualmente, a solicitação algumas informações podem ser feitas por meio de contato direto da Webike com os usuários via email ou telefone.

    Informações de navegação no site – Quando você visita nosso site, é inserido um ‘cookie’ no seu navegador por meio do software Google Analytics, para identificar quantas vezes você retorna ao nosso endereço. São coletadas, anonimamente, informações, como endereço IP, localização geográfica, fonte de referência, tipo de navegador, duração da visita e páginas visitadas.

    Histórico de contato – Aqui na Webike armazenamos informações a respeito de todos os contatos já realizados com nossos usuários, como conteúdos baixados a partir de nossas páginas e interações via email.

    Sobre o uso de suas Informações Pessoais

    O presente termo permite que a Webike use suas informações pessoais para diferentes finalidades.

    O email é utilizado para a operação de envio do material ou informação por você requisitada no preenchimento do formulário. Também pode ser usado para envio de Newsletters, sempre relacionadas ao tema Marketing Digital.

    Por fim, o email será utilizado ainda para comunicar o lançamento de novos materiais gratuitos ou de novos produtos da webike. No entanto, o usuário pode cancelar a assinatura a qualquer momento.

    Os dados de download poderão ser divulgados como pesquisas e estatísticas, não sendo reveladas abertamente nenhuma informação pessoal, a menos que autorizada explicitamente.

    Suas informações pessoais serão compartilhadas com nossos parceiros apenas quando a parceria estiver explícita na página onde consta o formulário para o recebimento de conteúdo educativo.

    Sobre o acesso às suas informações pessoais

    Poderão ver suas informações pessoais apenas funcionários da Webike. Eventualmente, caso a inserção de suas informações se dê em ações criadas em parcerias, os parceiros explicitamente identificados  também terão acesso à informação.  Nenhuma informação pessoal poderá ser divulgada publicamente.

    A Webike também se compromete a não vender, alugar ou repassar suas informações para terceiros. A única exceção está em casos em que essas informações forem exigidas judicialmente.

    Além disso, embora trabalhemos com boas práticas de proteção e segurança, nenhum serviço web possui 100% de garantia contra invasões e não podemos nos responsabilizar caso isso ocorra.

